{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/sports/soccer.css' %}">
{% endblock %}

{% block content %}
    <div class="science-war-content mdl-layout__content">
      <a name="top"></a>
      <div class="science-war-be-together-section mdl-typography--text-center">
        <div class="logo-font android-slogan"><!--포스텍카이스트학생대제전--></div>
        <div class="logo-font android-sub-slogan"><!--POSTECH-KAIST Science War--></div>
      </div>

      <div class="science-war-captain-section">
        <div class="science-war-match-title mdl-typography--display-1-color-contrast">선수단장</div>
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
          <header class="mdl-cell mdl-cell--2-col-desktop mdl-cell--2-col-tablet mdl-cell--4-col-phone mdl-color-text--white">
            <div class="science-war-player-captain-image"></div>
          </header>
          <div class="mdl-card mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--4-col-phone">
            <div class="mdl-card__supporting-text">
              <h4>축구 선수단장 허재원 (전자 13)</h4>
              안녕하세요 2016년도 포스텍카이스트학생대제전 축구경기 선수단 주장 허재원입니다. 작년에 이어 올해 포카전 축구도 승리하기 위해 선수단들 모두 여름방학부터 피나는 노력을 하고 있습니다. 최선을 다하여 포카전 첫 경기, 축구경기 승리하고 오겠습니다. 많은 응원 부탁드립니다. POSTECH FIGHTING!
            </div>
          </div>
        </section>
      </div>

      <div class="science-war-match-section">
        <div class="science-war-match-title mdl-typography--display-1-color-contrast">선수단</div>
        <div class="science-war-card-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-player-card mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__player">허재원 전자13</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-player-card mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__player">허재원 전자13</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-player-card mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__player">허재원 전자13</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-player-card mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__player">허재원 전자13</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-player-card mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__player">허재원 전자13</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-player-card mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__player">허재원 전자13</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-player-card mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__player">허재원 전자13</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="science-war-match-section">
        <div class="science-war-match-title mdl-typography--display-1-color-contrast">경기 전적</div>
        <div class="science-war-card-container mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__year">2008</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__year">2009</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__year">2010</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-match-postech-win mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__year">2011</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__year">2012</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__year">2013</span>
              </div>
            </div>
          </div>

          <div class="mdl-cell mdl-cell--2-col mdl-cell--2-col-tablet mdl-cell--2-col-phone">
            <div class="science-war-match-kaist-win mdl-card mdl-shadow--3dp">
              <div class="mdl-card__title mdl-card--expand"></div>
              <div class="mdl-card__actions">
                <span class="science-war-card-image__year">2014</span>
              </div>
            </div>
          </div>
        </div>
      </div>
{% endblock %}

{% block script %}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
