{% extends "page/layout.html" %}
{% load staticfiles %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/messages.css' %}">
{% endblock %}

{% block content %}
    <div class="science-war-content mdl-layout__content">
      <a name="top"></a>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">포항공과대학교 총장 김도연</div>
          <p class="mdl-typography--font-light science-war-text">
            친애하는 POSTECH과 KAIST 학생 여러분!<br><br>

            우리나라의 과학기술 발전을 선도하고 미래의 선진 조국을 이끌어갈 젊은이들의 축제인 『KAIST & POSTECH 학생 대제전』이 어느덧 15회째를 맞았습니다. 매년 양교의 많은 학생들이 포항에서 대전으로, 대전에서 포항으로 달려와 함께 땀흘리며 하나가 되고, 승패를 넘어 우의를 다지는 축제로 발전하게 된 것을 매우 기쁘게 생각합니다.<br><br>

            KAIST와 POSTECH이 지향하는 교육 목표는 창의성과 진취성을 바탕으로 국가와 인류를 위해 봉사하는 리더를 육성하는 것입니다. 여러분이 살아갈 미래는 수명이 120세까지 늘어나고, 지금 우리는 상상도 하지 못했던 직업들을 갖게 될 것입니다. 미래 학자들은 20년 이내에 현재 직업의 47%가 사라질 것으로 예측하고 있습니다. 이 자리에 계신 학생 여러분은 POSTECH과 KAIST를 대표하고 있지만, 그에 앞서 대한민국을 이끌어나갈 이공계의 대표선수이기도 합니다. 많은 이들을 위한 새로운 가치창출에 끊임없이 도전해 나가기를 부탁합니다.<br><br>

            또한 ‘빨리 가려면 혼자 가고, 멀리 가려면 함께 가라’는 말처럼 화합과 조화를 배우고 실천하는 것도 중요합니다. 여러분들이 스스로 계획하고 준비하며 참여하는 『KAIST & POSTECH 학생 대제전』은 승패도 중요하지만 미래 세계 속의 리더로 성장해 나갈 여러분의 인생에 소중한 밑거름이 될 것입니다.<br><br>

            오늘의 제전은 양교 학생들의 열정과 패기 그리고 공정한 페어플레이 정신을 우리들 스스로 확인하는 기회이며, 여러분들의 경기를 지켜보는 모든 분들에게는 과학 한국의 희망을 보여주는 계기가 될 것입니다.<br><br>

            끝으로 이번 제전이 성황리에 개최될 수 있도록 철저한 준비와 시간을 아끼지 않은 양교 준비위원회와 교직원 여러분에게 깊은 감사를 드립니다. 한가족 한마음으로 모두에게 뜻 깊고 유익한 시간이 되기를 기원합니다. 그리고 대회기간 동안 KAIST 여러분들이 불편함을 느끼지 않도록 우리 POSTECHIAN의 세심한 배려를 당부 드립니다.<br><br>

            감사합니다.<br><br>

            포항공과대학교 총장 김 도 연<br>
          </p>
        </div>
        <div class="science-war-supporters-section-image"></div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-image-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">총학생회장 장윤선 (14 산경과)</div>
          <img src="{% static 'images/head-student-message.jpg' %}" width="100%">
        </div>
        <div class="science-war-supporters-section-image"></div>
      </div>

      <div class="science-war-supporters-section">
        <div class="science-war-supporters-section-text">
          <div class="mdl-typography--font-light mdl-typography--display-1-color-contrast">포카전준비위원장 임범수<br>(14 컴공과)</div>
          <p class="mdl-typography--font-light science-war-text">
            안녕하세요! 2017학년도 포스텍카이스트학생대제전 준비위원회 위원장 임범수입니다.<br><br>

            포카전은 정말 많은 수의 사람들이 연관되어 있는 행사입니다. 행사를 준비하는 저희 준비위원회들은 물론, 카이스트의 기획단 여러분, 응원을 준비하는 치어로 여러분, 대회를 준비하시는 선수단 여러분까지 수십, 아니 수백명의 사람들이 여름방학을 바쳐 준비해왔습니다.<br><br>

            올해에도 역시 서포터즈 여러분들을 위해 다양한 행사가 준비되어 있습니다. 치어로의 뜨거운 공연과 사이버포카전 오버워치 경기를 다같이 관람하는 전야제로 시작하여, 7가지 종목은 물론 사이사이에 동아리 공연, 먹거리 부스, 푸드 트럭 등 즐길 거리로 가득합니다. 상품 또한 200만원이 넘게 준비되어 있으니 부디 모든 기획에 참여하셔서 포카전을 즐기고 상품도 받아가시길 바라겠습니다.<br><br>

            다시는 없을 2017년도 포카전을 뜨겁게, 그리고 재밌게 즐겨주시길 바랍니다!<br><br>

            2017년 8월 28일<br>
            3시간의 회의 뒤에 설종빈 가기 직전<br>
            위원장 임범수 올림<br><br>
          </p>
        </div>
        <div class="science-war-supporters-section-image"></div>
      </div>
{% endblock %}

{% block script %}
  <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
{% endblock %}
