{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
  <title>Chat_admin</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/admin.css' %}">
  <script src="{% static 'js/jquery-3.2.1.min.js' %}">

  </script>
</head>
<body onload="checkCookie()">
  <table>
    <tr>
      <td id="POSTECH">
        <div id = "P_chat"> </div>
        <div class="input_site">
          <input type="text" name="nickname" value = "admin" id="p_nickname">
          <input type="text" name="content" placeholder = "입력하세요" id="p_input" onkeypress="handle(event, 'P')"/>
          <input type="button" name="button" value="입력" onclick="sendChat1();"/>
        </div>
      </td>
      <td>
        <!--<p>영상이 들어갈 자리 </p>-->
        <iframe width="560" height="315" src="https://www.youtube.com/embed/vIlm90G9-Ik" frameborder="0" allowfullscreen></iframe>
      </td>
      <td id="KAIST">
        <div id = "K_chat"> </div>
        <div class="input_site">
          <input type="text" name="nickname" value = "admin" id="k_nickname">
          <input type="text" name="content" placeholder="입력하세요" id="k_input" onkeypress="handle(event, 'K')"/>
          <input type="button" name="button" value="입력" onclick="sendChat2();"/>
        </div>
      </td>
    </tr>
  </table>

  <h2>banned words</h2>
  <div id="banned_words">
    {% for banned_word in banned_words %}
    <a href="#">{{banned_word.banned_word}}</a>
    {% endfor %}
  </div>

  <h2>banned users</h2>
  <div id="banned_users">
    {% for banned_user in banned_users %}
    <a href="#">{{banned_user.banned_user}}</a>
    {% endfor %}
  </div>

  <div id="admins">
    {% for admin_user in admin_users %}
    <a href="#">{{admin_user.admin_user}}</a>
    {% endfor %}
  </div>

  <script type="text/javascript" src="{% static 'js/admin.js' %}">
  </script>

</body>
</html>
